.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
  }

.ourProducts{
    padding: 4rem 0;
    background-color: var(--background-color);
}
.sectionTitle {
    font-size: 2.5rem;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 3rem;
}
.viewAllProducts {
    text-align: center;
    margin-top: 2rem;
}

.productGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
    align-items: start;
}

.productCard {
    background-color: var(--white);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.productCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.productCard img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.productInfo {
    padding: 1.5rem;
    text-align: center;
}

.productTitle {
    font-size: 1.4rem;
    color: var(--primary-color);
    margin-bottom: 0.5rem;
}

.productPrice {
    font-size: 1.2rem;
    color: var(--accent-color);
    font-weight: bold;
}

.viewAllProducts .btn {
    padding: 0.8rem 1.5rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    /* border: none; */
}

.viewAllProducts .btn:hover {
    background-color: var(--accent-color);
    color: var(--white);
}
